.about-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #45474B;
}

.about-container h1, .about-container h2 {
    color: #F4CE14;
    font-size: large;
    font-weight: bold;
}

.about-container p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #F5F7F8;
}

.about-container ul {
    list-style-type:square;
    padding-left: 20px;
}

.about-container li {
    margin-bottom: 10px;
    color: #F5F7F8;
}
